:root {
  --main-font: 'Montserrat', 'Arial', sans-serif;
  --dark-blue: #070B17;
  --light-grey: #F0F3F5;
  --blue: #3150A5;
  --light-blue: #C7D5F9;
  --black: #000;
  --white: #FFF;
  --pink: #E03B75;
  --teal: #41D1FF;
  --blue-button: #0f52ba;
  --ratio: 9 / 16;
  --margin-top: cal(var()) 
  }

body, html {
  height: 100vh;
}

body {
  font-family: var(--main-font)
}

/* navbar section */
/*--- Navigation bar ---*/
.navbar {
  background-color: var(--dark-blue);
  z-index: 2;
}

#brand-name:hover {
  color: var(--white);
}

.nav-link,
.navbar-brand,
#contactdropdown {
  color: var(--white);
  cursor: pointer;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
}

.nav-link {
  margin-right: 1em !important;
}

.nav-link:hover {
  color: var(--white);
}

.navbar-collapse {
  justify-content: flex-end;
}

.dropdown-menu{
  background-color: var(--dark-blue) !important;
}

.dropdown-item {
  font-family: var(--main-font) !important;
  font-size: 14px;
  color: var(--white) !important;
}

.dropdown-item:hover{
  color: var(--blue-5) !important;
}

.primary-btn-navbar {
  display: inline-block;
  margin-top: 0.5vh;
  padding: 0.5vh 1vh 0.5vh 1vh;
  background-color: var(--blue-button);
  color: var(--white);
  border-radius: 4px !important;
  font-size: 14px !important;
  font-family: var(--main-font);
}

.primary-btn-navbar:hover {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  color: var(--white);
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .primary-btn-navbar {
    margin-bottom: 1.5vh;
  }
}

/* video section */
.header-video {
  position: relative;
  background-color: var(--dark-blue);
  height: 100vh;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.header-video video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.header-video .container {
  position: relative;
  z-index: 2;
}

.header-video .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--dark-blue);
  opacity: 0.9;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .show-desktop-video {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .show-mobile-video {
    display: none;
  }
}

#main-logo {
  margin-top: 10vh;
  height: 180px;
  width: 500px;
}

#header-text {
  margin-top:10vh;
  font-family: var(--main-font);
  font-size: 34px;
  color: var(--white);
}

.primary-btn {
  display: inline-block;
  margin-top: 8vh;
  background-color: var(--white);
  color: var(--blue-button);
  border-radius: 14px !important;
  font-size: 28px !important;
  font-family: var(--main-font);
}

.primary-btn:hover {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  color: var(--blue-button);
  font-weight: bold;
}

.down-arrow-main {
  margin-top: 15vh;
  height: 50px;
  width: 50px;
}

/* fixing full-screen view for different heights */
@media screen and (max-height: 900px) {
  #main-logo {
    margin-top: 7vh;
  }

  #header-text {
    margin-top:7vh;
  }

  .primary-btn {
    margin-top: 9vh;
    font-size: 18px !important;
  }

  .down-arrow-main {
    margin-top: 12vh;
    height: 50px;
    width: 50px;
  }
  }

@media screen and (max-width: 768px) {
  #main-logo {
    margin-top: 5vh;
    height: 90px;
    width: 250px;
  }
  
  #header-text {
    margin-top: 5vh;
    font-size: 24px;
  }

  .primary-btn {
    margin-top: 9vh;
  }

  .down-arrow-main {
    margin-top: 12vh;
  }
}

/* methodology section */
#intro {
  background-color: var(--light-grey);
}

#methodology-title {
  max-width: 80vh;
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-align: center;
  font-size: 48px;
  margin: 0 auto 1vh auto;
  font-style: italic;
}

.default-full-paragraph {
  margin: 2vh 20vh;
  font-size: 20px;
  font-family: var(--main-font);
  /* font-style: italic; */
}

@media screen and (max-width: 768px) {
  #methodology-title {
    font-size: 28px;
    margin: 0 auto 1rem auto;
    padding-bottom: 0rem;
  }

  .default-full-paragraph {
    margin: 0 3vh;
    font-size: 16px;
  }
}

.metho-container {
  color: #FFF;
  background-color: var(--light-grey);
  padding: 20px 0;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

.metho-description {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media screen and (max-width:768px) {
  .metho-description {
    flex-direction: column;
  }
}

.metho-detail-box {
  flex-direction: column;
  justify-content: center;
  margin: 0 5vh 0 5vh;
}

@media screen and (max-width:768px) {
  .metho-detail-box {
    margin: 0 2vh 0 2vh;
  }
}

.flex-item-img {
  margin-top: 2vh;
  display: block;
  text-align: center;
}

.img-description {
  -webkit-transform: scale(0.75); /* Saf3.1+, Chrome */
  -moz-transform: scale(0.75); /* FF3.5+ */
   -ms-transform: scale(0.75); /* IE9 */
    -o-transform: scale(0.75); /* Opera 10.5+ */
       transform: scale(0.75);
          /* IE6–IE9 */
          filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.9999619230641713, M12=-0.008726535498373935, M21=0.008726535498373935, M22=0.9999619230641713,SizingMethod='auto expand');

  height: 220px;
  width: 220px;
        }

.flex-item-title {
  margin-top: 2vh;
  color: var(--dark-blue);
  font-size: 28px;
  text-align: center;
}

.flex-item-description {
  margin-top: 3vh;
  margin-bottom: 2vh;
  color: var(--black);
  font-size: 18px;
  text-align: justify;
}

.metho-button {
  padding-top: 3vh;
  padding-bottom: 5vh;
  text-align: center;
}

.secondary-btn-small {
  display: inline-block;
  margin: 0 auto 0 auto;
  /*margin-top: 10vh;*/ 
  background-color: var(--blue-button);
  color: var(--white);
  border-radius: 14px !important;
  font-size: 18px !important;
  font-style: italic;
  font-family: var(--main-font);
}

.secondary-btn-small:hover {
  /*box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);*/
  color: var(--white);
  font-weight: bold;
  font-size: 18px !important;
}

@media screen and (max-width:768px) {

  .flex-item-title {
    margin-top: 1vh;
    font-size: 20px;
    font-weight: bold;
  }
}

/* survey call-to-action */

.survey-container {
  background-color: var(--dark-blue);
  padding: 10vh 10vh 10vh 10vh;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

.survey-flexbox {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width:768px) {
  .survey-container {
    padding: 2vh;
  }

  .survey-flexbox {
    width: 100%;
  }
}

.secondary-btn {
  display: inline-block;
  /*margin-top: 10vh;*/ 
  background-color: var(--white);
  color: var(--blue-button);
  border-radius: 14px !important;
  font-size: 40px !important;
  font-style: italic;
  font-family: var(--main-font);
}

.secondary-btn:hover {
  /*box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);*/
  font-weight: 600;
}

.flexbox-message {
  margin: 2vh 10vh 2vh 10vh;
}

.img-megaphone {
  margin-right: 4vh;
  height: 64px;
  width: 64px;
}

.message-headline {
  font-size: 40px;
  color: var(--white);
  font-weight: bold;
  padding-bottom: 3vh;
  padding-left: 4vh;
}

.message-text {
  font-size: 20px;
  color: var(--white);
}

@media screen and (max-width:768px) {
  .survey-flexbox {
    margin-top: 1vh;
    display: block;
    flex-direction: column;
    text-align: center;
  }

  .flexbox-message {
    margin: 1vh 0 3vh 0;
    padding-bottom: 2vh;
  }

  .img-megaphone {
    height: 50px;
    width: 50px;
  }

  .message-headline {
    font-size: 28px;
  }

  .message-text {
    font-size: 18px;
  }
}

/* Footer */
.footer-container {
  
  padding-top: 1vh;
  padding-bottom: 1vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-blue);
}

.item-copyright {
  margin-left: 2vh;
  font-family: var(--main-font);
  font-size: 16px;
  color: var(--white);
  font-weight: bold;
}

.social-links {
  margin-right: 4vh;
  display: flex;
  justify-content: flex-end;
}

.social-icon {
  margin-left: 1vh;
  margin-right: 1vh;
}

.icon-img {
  height: 20px;
  width: 20px;
}